<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BioTree | {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="..\media\Pixelkit-Flat-Jewels-Tree.ico"/>
    <link rel="shortcut icon" href="C:\Users\esdn6\Documents\GitHub\Biotree-Project\prototipo\BioTree"/>
    
    
    <!-- just style -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">   
    <!-- just style -->

    <!--<link rel="stylesheet" href=" '../' static './style.css' ">-->
    <link rel="stylesheet" href="C:\Users\esdn6\Documents\GitHub\Biotree-Project\prototipo\BioTree\static\css">

</head>
<body>
    <header>
        <!--<nav class="navbar navbar-expand navbar-dark bg-dark mb-3">-->
        <nav class="navbar navbar-expand navbar-dark bg-success mb-3">
            <!--<div class="container">-->
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'url_home' %}">Bio Tree</a>
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'url_profile' %}">Welcome {{ user.get_username }}</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_login' %}">Login | Sign in</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_signup' %}">Create account | Sign up</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'url_dbaccess'%}">DB Access</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'url_tree'%}">Tree</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'url_about'%}">About</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>

    <main class="container-fluid">
        {% block content %}
        {% endblock %}
    </main>

    <!-- just style -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <style>

    </style>

    <!-- just style -->

</body>
</html>