* {
  margin: 0;
  box-sizing: border-box;
}

:root {

  font-family: 'Montserrat', sans-serif;

}

a {

  all: unset;
  cursor: pointer;
  width: 30%;

}

body {

  height: 100vh;
  background-color: #294c4e;

}

header {

  display: flex;
  align-items: center;
  height: 10%;
  background-color: azure;
  color: #294c4e;

}

main {
  color: azure;
}

header h1 {

  width: 100%;

}

.fa-plus {
  color: green;
  gap: 10px;

}

.fa-edit {
  color: orange;
  width: 20px;
}

.fa-trash {
  color: rosybrown;
}

.items {

  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

}

.items a {

  all: unset;
  cursor: pointer;
  opacity: 0.7;

}

.items a:hover {

  opacity: 1;

}

footer {

  text-align: center;
  background-color: azure;

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #294c4e;
  text-align: center;
}

.container {
  display: flex;
  width: 100%;
  gap: 10px;
}

.container2 {
  display: flex;
  width: 100%;
  gap: 10px;
}

.container2 > a {
  width: 20px;
}

img {
  width: 200px;
  height: 200px;
}