{% extends 'templates\base.html' %}


{% load crispy_forms_tags %}


{% block title %}

About

{% endblock %}


{% block content %}

<p>Esse projeto pessoal ainda esta nas suas fases iniciais, mais o objetivo é criar um site onde é possivel alimentar um banco de dados e dele gerar uma "arvore da vida" que se modifica de acordo com os dados da base. <br> Para saber mais sobre <a href="https://github.com/Birunda3000/Biotree-Project">clique aqui</a></p>

<img src="../../../media/white_background_tree.jpg" alt="darwin-tree-of-life" style="width: 400px; height: 500px;">

{% endblock %}