{% extends 'templates\base.html' %}


{% load crispy_forms_tags %}


{% block title %}

DBacess

{% endblock %}


{% block content %}

<div class="input-group">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
        aria-describedby="search-addon" />

    <select class="form-select" aria-label="Default select example">
        
        {% for t in Taxon_all %}
            <option value=""><b>{{ t.name }}</b></option>
        {% endfor %}
        <!--<option value="">Dominio</option>
        <option value="">Reino</option>
        <option value="">Filo</option>
        <option value="">Classe</option>
        <option value="">Ordem</option>
        <option value="">Familia</option>
        <option value="">Genero</option>
        <option value="">Especie</option>
        <option value="">Sub-Especie</option>-->

    </select>

    <button type="button" class="btn btn-outline-primary">search</button>
    {% if user.is_staff %}
    <a class="btn btn-outline-secondary" href="{% url 'url_create' %}" role="button">Add new</a>
    {% endif %}
</div>

<ul class="list-group list-group-flush">
    {% for dado in Vida %}
    <li class="list-group-item">
        <!--<h3>{{ dado.name }}</h3>
        <h4>{{ dado.type }}</h4>
        <img src="{{ dado.image.url }}" style="width: 150px;height: 150px;">
        <img src="{{ dado.image_2.url }}" style="width: 150px;height: 150px;">
        <img src="{{ dado.image_3.url }}" style="width: 150px;height: 150px;">
        <p>{{ dado.description }}</p>
        {% if user.is_staff %}
        <a class="btn btn-outline-info" href="{% url 'url_update' dado.id %}" role="button">Update</a>
        <a class="btn btn-outline-danger" href="{% url 'url_delete' dado.id %}" role="button">Delete</a>
        {% endif %}-->

        <div class="vida-card">
            <h3 class="vida-name">{{ dado.name }} <span class="common-name-db" style="color: grey; font-size: small;">{{ dado.common_name }}</span> </h3>

            <a id="taxon-link" href="{% url 'url_taxon_detail' Taxon|get_item:dado.name %}"><h4 class="vida-taxon">{{ dado.type }}</h4></a>

            <div class="vida-card-info-container">
                <div class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="vida-image" src="{{ dado.image.url }}" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="vida-image" src="{{ dado.image_2.url }}" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="vida-image" src="{{ dado.image_3.url }}" alt="Third slide">
                        </div>
                    </div>
                </div>
                <div class="vida-text-info">
                    <p><b>Origin: </b>{{ dado.origin }}</p>
                    <p><b>Extintion: </b>{{ dado.extintion }}</p>
                    <p class="vida-description">{{ dado.description }}</p>
                    <p class="tag_list">
                        {% for tag, id in Tags|get_item_tag:dado.name %}
                            <a href="{% url 'url_tag_detail' id %}" class="badge badge-dark">{{ tag }}</a>
                        {% endfor %}
                    </p>
                </div>
            </div>
            {% if user.is_staff %}
            <a class="btn btn-outline-info" href="{% url 'url_update' dado.id %}" role="button">Update</a>
            <a class="btn btn-outline-danger" href="{% url 'url_delete' dado.id %}" role="button">Delete</a>
            {% endif %}
        </div>
    </li>
    {% endfor %}
</ul>

<style>
    .vida-card {
        padding: 0px;
    }

    .vida-image {
        width: 200px;
        height: 200px;
        margin-bottom: 10px;
    }

    .vida-card-info-container {
        display: flex;
        gap: 10px;
    }

    .vida-text-info {
        display: flex;
        flex-direction: column;
    }

    .input-group {
        padding: 10px;
        gap: 3px;
    }

    .vida-card .vida-name .common_name-db{
        color: grey;
        font-size: small;
    }
    
    #taxon-link{
        color:rgb(81, 95, 83);
    }
</style>

{% endblock %}