{% extends 'templates\base.html' %}


{% load crispy_forms_tags %}


{% block title %}

DBacess

{% endblock %}


{% block content %}

<div class="input-group">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
    
    <select class="form-select" aria-label="Default select example">
        <option>Dominio</option>
        <option>Reino</option>
        <option>Filo</option>
        <option>Classe</option>
        <option>Ordem</option>
        <option>Familia</option>
        <option>Genero</option>
        <option>Especie</option>
        <option>Sub-Especie</option>  
    </select>

    <button type="button" class="btn btn-outline-primary">search</button>

</div>

<a class="nav-link" href="{% url 'url_create' %}">Add new</a>

<ul class="list-group list-group-flush">
    {% for dado in Vida %}
        <li class="list-group-item">
        <h3>{{ dado.name }}</h3>
        <h4>{{ dado.type }}</h4>
        <img src="../../../media/{{ dado.image }}" style="width: 150px;height: 150px;">
        <img src="../../../media/{{ dado.image_2 }}" style="width: 150px;height: 150px;">
        <img src="../../../media/{{ dado.image_3 }}" style="width: 150px;height: 150px;">
        <p>{{ dado.description }}</p>
        <a href="{% url 'url_update' dado.id %}">Update</a>
        <a href="{% url 'url_delete' dado.id %}">Delete</a>
        <!--{{ dado.image }} -->
        </li>
    {% endfor %}
</ul>

{% endblock %}