{% extends 'templates\base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="home-container">  
    <div class="home-imgs-container">
        <img class="home-img-left" src="../../../media/darwin.jpg" alt="">
        <img class="home-img-left" src="../../../media/tree_of_life _image.jpg" alt="">
        <img class="home-img-left" src="../../../media/tree_of_life _image2.jpg" alt="">
    </div>
    
    <div class="home-corpus-container">
        <p class="text-home">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit voluptatibus debitis est fugiat officiis odio magnam mollitia earum veniam quas quis facere, praesentium nulla amet iure rerum reprehenderit dolore, natus expedita temporibus velit vero. Animi voluptas nemo facilis ea ad vero nobis similique molestias culpa expedita nostrum voluptatem sunt eaque ducimus veritatis, quasi ut repudiandae voluptate velit atque? Ut suscipit aperiam nam natus sed, commodi quasi officiis a modi aliquid laboriosam saepe esse? Dolor, alias accusantium, velit harum quae consequuntur voluptatum repudiandae impedit qui est maiores blanditiis neque esse, hic perspiciatis quos nulla? Ut modi nihil, laborum perspiciatis odio porro.
        </p>
    
        <div>
            <img class="home-img-mid" src="../../../media/ten-img.png" alt="">
        </div>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis, eveniet fugiat veniam quia culpa assumenda necessitatibus est obcaecati quibusdam molestiae illo adipisci laborum. Vero reiciendis ex, dolore asperiores placeat iure.</p>
    </div>

</div>

<style>
    .home-container{
        display: flex;
        gap: 15px;

        padding: 0px;
        margin: 0px;
        border: 0px;
    }
    .home-imgs-container{
        display: flex;
        flex-direction: column;       
    }
    .home-corpus-container{
        display: flex;
        flex-direction: column; 
        align-items: center;      
    }
    
    .home-img-left{
        width: 150px;
        height: 200px;
    }
    .home-img-mid{
        width: 350px;
        height: 250px;
        align-self: center;
    }
    .text-home{
        color: black;
        padding: 10px;
        margin: 0px;
        border: 0px;
    }
</style>

{% endblock %}


