{% extends 'templates\base.html' %}

{% block title %}Profile{% endblock %}

{% block style %}
<link rel="stylesheet" href="../static/css/style.css">{% endblock %}

{% block content %}

<div class="user-card">
    <img class="user-image" src="{{ user.user_image.url }}">
    <div class="user-card-info-container">
        <h3 class="user-name">{{ user.username }}</h3>
        <h5 class="user-class">{% if user.is_staff %} <b>Admin</b> {% endif %}</h5>
        <p class="user-real-name">{{ user.first_name }} {{ user.last_name }}</p>
        <p class="user-description">{{ user.user_description }}</p>
        <p class="user-email"><b class="user-email">E-mail:</b> {{ user.email }}</p>
    </div>
</div>

<style>
    .user-card {
        display: flex;
        border-radius: 50px;
        background: #e0e0e0;
        box-shadow: 20px 20px 60px #bebebe,
            -20px -20px 60px #ffffff;
        box-sizing: border-box;
        padding: 30px;
        gap: 30px;
        margin-bottom: 10px;
    }

    .user-image {
        border-radius: 50px;
        width: 300px;
    }

    .user-card-info-container {
        display: flex;
        flex-direction: column;
    }
</style>

<!--<style>
    .user-card{
    display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "img name name"
        "img real real"
        "img des des"
        "img ema ema";

    }
    .user-image{
        grid-area: img;
        border-radius: 50%;
        width: 300px;
        height: 300px;
    }
    .user-name{
        grid-area: name;
    }
    .user-real-name{
        grid-area: real;
    }
    .user-description{
        grid-area: des;
    }    
    .user-email{
        grid-area: ema;
    }
</style>-->

{% endblock %}